<a href="#" id= "callEditor" class="button">Default Button</a>
<script type="text/javascript">
	   $('#callEditor').click(function()
                       {
                            var editor = new Editor(null);
                            editor.init({
                                air : false,
                                toolbar : false,
                                textarea : false,
                                mode : 'visual'
                            });
                      });
</script>