
<script type="text/javascript" src = "/assets/jquery.js"></script>

<%= javascript_tag do %>

 $('body').ready(function()
                       {
                            
                            var datatemp = "<%= @body.html_safe %>"
                            console.log(datatemp);
                            var temp = $('<div></div>').html(datatemp)
                            var editor = new Editor(null);
                            editor.init({
                                structure : "<%= @file_names.join(",") %>",
                                air : false,
                                toolbar : false,
                                textarea : false,
                                mode : 'visual',
                                content : datatemp
                            });
	});
<% end %>
