/*
  *= require_self
  *= require foundation_and_overrides
*/
$footer-color: #666667;
$footer-bg: #222224;

.brand {
  float: left;
  padding-right: 8px;
}

ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.nav li {
  display: inline;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 5px;
  background: $footer-bg;
  color: $footer-color;
  .side-nav li a, p a{
    color: $footer-color;
    &:hover{
      color: lighten($footer-color, 35%);
    }
  }
  .side-nav{
    padding-top: 0;
  }
  p{
    font-size: 0.7em;
  }
  h6{
    padding-top: 3px;
    color: #fff;
  }
  hr{
    background: transparent;
    border-color: rgba(0,0,0,0.3);
  }
}

section.main{
  width: 100%;
  padding: 10px 0;
}

section.features{
  width: 100%;
  background: #ccc;
  margin-bottom: 20px;
}

#features{
  margin-top: 40px;
  img{
    margin-bottom: 4px;
  }
}

.captions{
  float: left;
}

#stuff .large-4{
  cursor: pointer;
}

#create_btn{
  margin: 10px 0;
}

#parse_logo{
  width: 293px; 
  height: 85px;
  background: #000;
}

.highlight{
  background: #CE4216 !important;
  h5{
    color: #fff;
  }
}

#features{
  margin-bottom: 30px;
}