  <div class="row">
    <div class="large-6 columns">
      <p style="margin-top:10px;">
        &copy; 2013 Clay. <a href="#">Terms and Conditions.</a>  <a href="#">Privacy Policy.</a>
      </p>
    </div>
  </div>
</div>
